html,body{width:100%;height:100%;margin:0px}.gwd-page-container{position:relative;width:100%;height:100%}.gwd-page-content{background-color:transparent;transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);-webkit-transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);-moz-transform:matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);perspective:1400px;-webkit-perspective:1400px;-moz-perspective:1400px;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;position:absolute}.gwd-page-wrapper{background-color:#fff;position:absolute;transform:translateZ(0);-webkit-transform:translateZ(0);-moz-transform:translateZ(0)}.banner{width:320px;height:100px}.expanded{width:480px;height:320px}.expand-button{position:absolute;width:118px;border-image-source:none;border-image-width:initial;border-image-outset:initial;border-image-repeat:initial;border-color:transparent;height:35px;left:202px;top:65px}.close-button{position:absolute;height:48px;background-image:none;background-color:transparent;width:62px;left:255px;top:5px}.close-button-responsive{left:100%;transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform:translate3d(-126px, 0, 0);-webkit-transform:translate3d(-126px, 0, 0);-moz-transform:translate3d(-126px, 0, 0)}.gwd-div-t7om{width:320px;height:480px}.gwd-div-mej7{width:320px;height:480px}.gwd-img-14ck{position:absolute;top:0px;left:0px;width:320px;height:100px}.gwd-img-xlts{position:absolute;width:77px;height:15px;left:25px;top:11px}.gwd-taparea-dhlk{position:absolute;width:320px;height:100px;left:0px;top:0px}.gwd-img-11pf{position:absolute;width:164px;height:44px;left:145px;top:13px}.gwd-img-10g0{position:absolute;width:320px;height:480px;left:0px;top:0px}.gwd-img-xj8y{position:absolute;width:38px;height:38px;left:10px;top:5px}.gwd-taparea-1c1b{position:absolute;width:320px;height:480px;left:0px;top:0px}
#banner-page {
    position: relative;
    width: 100%;
    background-color: #4da92c;
}
#expanded-page .expanded{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -240px;
    margin-left: -160px;
}
#expanded-page {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #4da92c;
}
#banner-page .banner {
    margin: 0 auto;
    position: relative;
}